<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" version="22.1" />
  <package id="aida64-extreme" version="6.80.6200" />
  <package id="autohotkey" version="1.1.35.00" />
  <package id="autohotkey.install" version="1.1.35.00" />
  <package id="autohotkey.portable" version="1.1.35.00" />
  <package id="azcopy10" version="10.16.2" />
  <package id="azure-cli" version="2.42.0" />
  <package id="beyondcompare" version="4.4.4.27058" />
  <package id="bicep" version="0.12.40" />
  <package id="cascadia-code-nerd-font" version="2.1.0" />
  <package id="chocolatey" version="1.2.0" />
  <package id="chocolatey-compatibility.extension" version="1.0.0" />
  <package id="chocolatey-core.extension" version="1.4.0" />
  <package id="chocolatey-dotnetfx.extension" version="1.0.1" />
  <package id="chocolatey-font-helpers.extension" version="0.0.4" />
  <package id="chocolatey-misc-helpers.extension" version="0.0.4" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.5" />
  <package id="coretemp" version="1.17.1" />
  <package id="crystaldiskinfo" version="8.17.11" />
  <package id="crystaldiskinfo.portable" version="8.17.11" />
  <package id="crystaldiskmark" version="8.0.4.99" />
  <package id="discord" version="1.0.9005" />
  <package id="discord.install" version="1.0.9005" />
  <package id="docker-desktop" version="4.14.1" />
  <package id="dotnet-7.0-desktopruntime" version="7.0.0" />
  <package id="dotnet-7.0-sdk" version="7.0.100" />
  <package id="dotnet-7.0-sdk-1xx" version="7.0.100" />
  <package id="dotnet-desktopruntime" version="7.0.0" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="DotNet4.6.1" version="4.6.01055.20170308" />
  <package id="dotnetfx" version="4.8.0.20220524" />
  <package id="es" version="1.1.0.26" />
  <package id="Everything" version="1.4.11022" />
  <package id="ffmpeg" version="5.1.2" />
  <package id="Firefox" version="107.0" />
  <package id="gh" version="2.20.2" />
  <package id="git" version="2.38.1" />
  <package id="git.install" version="2.38.1" />
  <package id="hwinfo" version="7.32" />
  <package id="hwinfo.install" version="7.32" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.5" />
  <package id="KB3035131" version="1.0.3" />
  <package id="KB3063858" version="1.0.0" />
  <package id="libre-hardware-monitor" version="1.0.223.20221111" />
  <package id="librehardwaremonitor" version="0.9.1" />
  <package id="microsoft-teams" version="1.5.00.31168" />
  <package id="microsoftazurestorageexplorer" version="1.25.1" />
  <package id="netfx-4.7.2" version="4.7.2.0" />
  <package id="notepadplusplus" version="8.4.7" />
  <package id="notepadplusplus.install" version="8.4.7" />
  <package id="openssh" version="8.0.0.1" />
  <package id="parsec" version="20220728.00" />
  <package id="python" version="3.11.0" />
  <package id="python3" version="3.11.0" />
  <package id="setuserfta" version="1.7.1.20190427" />
  <package id="speedtest" version="1.1.1.1" />
  <package id="steam-client" version="2.10.91.92" />
  <package id="sysinternals" version="2022.11.11" />
  <package id="vcredist140" version="14.34.31931" />
  <package id="vcredist2015" version="14.0.24215.20170201" />
  <package id="vscode" version="1.73.1" />
  <package id="vscode.install" version="1.73.1" />
  <package id="winscp.install" version="5.21.5" />
  <package id="wiztree" version="4.11" />
</packages>